<form>

</form>
<label for="searchAnimal">Animal</label>
<input  id="searchAnimal" placeholder="Cat" #animalInput />
<button  (click)="getAnimals(animalInput.value)">Search</button>

<ul>
    <li *ngFor="let animal of (result != null ? result : animals)">
        {{ animal.id }}
        {{ animal.name }}
        {{ animal.status }}
        {{ animal.alive }}
        <a [title]="animal.name"
           [routerLink]="['/animal/', animal.id]"
        >
            Details
        </a>
    </li>
</ul>